html, body {
    min-height: 100vh;
    margin:0;
    padding:0;
    /* position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0;*/
}
.main {
    background-color: lightblue;
}

.button {
    color:aqua;
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: xx-large;
    outline:none
}

.button:hover {
    color:black;
    background-color: aqua;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    padding:0;
}
